mysql/
*.sock
/var/
/vendor/
/.env.local
.env.*.local
.env.test.local
/phpunit.xml
/phpunit.xml.dist
/.phpunit.result.cache
/.vscode/
.idea/
node_modules/
/public/build/
/public/bundles/
/translations/*.*
!translations/*.yaml
/public/uploads/
/coverage/
